[submodule "third_party/cosmos"]
	path = third_party/cosmos
	url = https://github.com/landcold7/cosmos.git
[submodule "third_party/C-Plus-Plus"]
	path = third_party/C-Plus-Plus
	url = https://github.com/landcold7/C-Plus-Plus.git
[submodule "third_party/graph_algorithms"]
	path = third_party/graph_algorithms
	url = git@github.com:landcold7/graph_algorithms.git
[submodule "third_party/codebook"]
	path = third_party/codebook
	url = https://github.com/landcold7/codebook.git
[submodule "third_party/algorithm"]
	path = third_party/algorithm
	url = https://github.com/spaghetti-source/algorithm.git
[submodule "third_party/kactl"]
	path = third_party/kactl
	url = https://github.com/kth-competitive-programming/kactl.git
[submodule "third_party/jngen"]
	path = third_party/jngen
	url = https://github.com/landcold7/jngen.git
[submodule "third_party/testlib"]
	path = third_party/testlib
	url = https://github.com/MikeMirzayanov/testlib.git
[submodule "third_party/ByteHelper"]
	path = third_party/ByteHelper
	url = git@github.com:landcold7/ByteHelper.git
