[submodule "third_party/codebook"]
	path = third_party/codebook
	url = https://github.com/landcold7/codebook.git
	ignore=dirty
[submodule "third_party/jngen"]
	path = third_party/jngen
	url = https://github.com/landcold7/jngen.git
[submodule "third_party/testlib"]
	path = third_party/testlib
	url = https://github.com/MikeMirzayanov/testlib.git
	ignore=dirty
[submodule "third_party/kactl"]
	path = third_party/kactl
	url = https://github.com/landcold7/kactl.git
	ignore=dirty
[submodule "third_party/acmdocs"]
	path = third_party/acmdocs
	url = https://github.com/landcold7/acmdocs.git
[submodule "third_party/cyaron"]
	path = third_party/cyaron
	url = https://github.com/landcold7/cyaron.git
	ignore=dirty
[submodule "third_party/algorithm"]
	path = third_party/algorithm
	url = git@github.com:landcold7/algorithm.git
	ignore=dirty
[submodule "third_party/Programming-contest"]
	path = third_party/Programming-contest
	url = https://github.com/pin3da/Programming-contest.git
	ignore=dirty
[submodule "third_party/tcframe"]
	path = third_party/tcframe
	url = https://github.com/ia-toki/tcframe.git
[submodule "bytetools"]
	path = bytetools
	url = https://github.com/landcold7/bytetools.git
[submodule "libyteme"]
	path = libyteme
	url = git@github.com:landcold7/libyteme.git
[submodule "third_party/tedukuri"]
	path = third_party/tedukuri
	url = https://github.com/lydrainbowcat/tedukuri.git
