# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefile
!Makefile

.vscode
.*
a.out
elf
misc
in*.txt
input_*
output_*
true*.txt
log*.txt
log*
result*.txt
test/*
*sublime-*
comp*.cpp
comp*.txt
comp.rel
*.gv
gen-*.cpp
*.bak
*.log
*.res
*.cl
cmp.cpp
cmp
test/*
codeforces/Solutions/*
**/*.dSYM/*
*.ga
*.gb
*.gg
*.gi
*.inp
*.out
*.rel
